
{% extends 'base.html.twig' %}

{% block title 'Tous les biens'%}

{% block stylesheets %}
    <style>
        .container{
            margin-top: 5px;
        }
    </style>
{% endblock %}


{% block body %}

    <div class="container">
        <h1>Tous les biens</h1>

    </div>


{% endblock %}

