{% extends 'base.html.twig' %}



{% block body %}

    <div class="container" style="margin-top: 4px;">
        <h1>Editer l'option</h1>

        {{   include ('admin/option/_form.html.twig', {form: form, button: 'Editer'})  }}
    </div>

{% endblock %}





